/* Colour Palette

Red    #e24c3b
White  #fbf3ef
Blue   #0088e0

*/
/** Universal (aka global) Styles & Typography **/
body {
  background: url('../img/pole-closeup-mobile.webp') center / cover no-repeat;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  color: #fff;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  padding-bottom: 1rem;
}

p {
  font-size: 1.2rem;
  font-family: 'Arvo', serif;
}

/* small screen layout */

/** header and nav **/
nav {
  background-color: #fbf3ef;
}

nav ul {
  display: flex;
  flex-flow: column;
  list-style: none;
}
nav li {
  line-height: 3rem;
}

nav li a {
  color: #222;
  text-decoration: none;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-size: 1.3125rem; /** 21 **/
  display: block;
}

/** color each background of the links **/
nav ul li:nth-child(3),
nav ul li:nth-child(5) {
  background-color: #e24c3b;
}

nav ul li:nth-child(2) {
  background-color: #0088e0;
}

/** only targets the inline svg (which is in the header) **/
svg {
  width: 5rem; /*80px*/
  margin-top: 1rem;
}

svg path {
  fill: #222;
}

/** rearrange our nav items by using flex order **/
nav ul li:nth-child(3) {
  order: -1;
}

/*** main layout ***/

main > h2 {
  font-size: 4rem; /*64px/16 = 4rem*/
  line-height: 1.2; /**1.2 x 64 = 76.8px **/
  text-transform: uppercase;
  text-shadow: 2px 2px #222;
  letter-spacing: 0.1rem;
  padding: 3rem 0;
}

section {
  margin: 0 auto;
}

section img {
  max-width: 4.5rem; /** 72px **/
  margin: 1rem auto;
}

.inner-container {
  padding: 0 1rem;
  display: flex;
  flex-flow: wrap row;
}

.col {
  background-color: rgba(0,0,0,0.6);
  border-radius: 0.5rem;
  padding: 2rem;
  margin-bottom: 1rem;
}

.col p a {
  background-color: #e24c3b;
  color: #fbf3ef;
  font-family:'Oswald', sans-serif;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  margin-top: 1.5rem;
}
.col p a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 925px) {

  /** starting from top to bottom (top-down structure) these need to change:
    1. background image on the body
    2. your header nav needs to become horizontal
    3. your section will be placed in columns of 2 
  **/

  /** swapping the image for a larger size **/
  body {
    background: url('../img/pole-closeup.webp') center / cover no-repeat;
  }

  /** style the navigation to layout horizontally **/
  nav { 
    background-color: rgba(0,0,0,0.6);
  }

  nav ul {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  nav ul li:nth-child(2),
  nav ul li:nth-child(3),
  nav ul li:nth-child(5) {
    background-color: transparent;
  }
 
  nav li a { color: #fbf3ef;}
  
  svg { margin: 0; }
  svg path{ fill: #fbf3ef; }

  /** to put the logo back in the 3rd position, we are just going to put it back its default ordered state **/
  nav ul li:nth-child(3) {
    order: 0;
    margin-top: 1rem;
    flex: 1 0 50%;
  }

  /** flex-grow, flex-shrink and flex-basis to our nav li **/
  nav ul li {
    /* longhand */
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 25%;
    /** shorthand **/
    flex: 1 1 25%; /**flex-grow | flex-shrink | flex-basis**/
  }

  /** main body content **/

  .inner-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /** gap: 1rem; **/
    /** only puts spacing in-between your flex-items**/
  }

  /** let's have a maximum of two cards per row **/

  /** flex-items**/
  .col {
    max-width: calc(100% / 2 - 2rem);
    margin: 1rem;

  }

  /** The columns that have a bit more text/copy - we are going to give them more breathing room **/
  .grow {
    /**longhand**/
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 65%;
    /**shorthand **/
    flex: 1 0 65%; /** grow | shrink | flex-basis */
  }

  /** here we will make the the columns with less text shrink **/
  .shrink {
    flex: 0 1 35%;
  }

} /** //end of 925px**/

/** restricts the overall width (fixed-width layout) **/
@media screen and (min-width: 1280px) {
  nav ul,
  .inner-container {
    max-width: 80rem; /**1280px / 16 = 80**/
    margin: 0 auto;
  }

}
/*
shorthand for margins
margin: top right bottom left;
margin: top left/right bottom;
margin top/bottom & left/right;
*/





